/* Header */
header {
    background-color: #11111f;
    color: #fff;
    padding: 1em;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
*{
    border: red 0.5px solid;
}
main {
    width: 100%;
    height: 2000px; /* Altura deseada para el <main> */
    background-color: #fff0C9;
    display: flex;
    align-items: flex-start;
    overflow-x: hidden;
}
#vermas{
    background-color: #11111f;
    color: #f57eb6;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
/* Searcher rosado y un rectangulo con esquinas curvas */
/* #searcher{
    background-color: #f57eb6;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline-color: #f57eb6;
    font-family: "",sans-serif;
}
#searcher:focus {
    outline-color: #f57eb6; /* Cambia el color a rosado */
 /* } */
/* Un rectangulo con lineas curvas que va dentro del main */
/* #square {
    background-color: #471F41;
    border-radius: 10px;
    width: 70em;
    height: 30em;
    display: flex;
    align-items:start;
    justify-content: start;
    margin-top: 5em;
    margin-left: 6em;
    text-align: center; 
}

#title {
    color: #fff0C9;
    font-size: 3em;
    font-weight: bold;
} 
#subtitle {
    color: #fff0C9;
    font-size: 4em;
    margin-top: 0;
    line-height: 1em; 
    text-align: left;
    font-weight: bold;
  }

#oso{
    background-color: #471F41;
    border-radius: 10px;
    width: 70em;
    height: 30em;
    display: flex;
    align-items:start;
    justify-content: start;
    margin-top: 5em;
    margin-left: 6em;
    text-align: center;
}
#gus{
    background-color: #471F41;
    border-radius: 10px;
    width: 70em;
    height: 30em;
    display: flex;
    align-items:start;
    justify-content: start;
    margin-top: 5em;
    margin-left: 6em;
    text-align: center;
} */

#rect{
    background-color: #471F41;
    width: 100%;
    height: 30em;
    display: flex;
    align-items:start;
    justify-content: start;
    margin-top: 5em;
    text-align: center; 
}
#foto{
    border: #11111f 5px solid;
    align-items: center;
    justify-content: center;
    margin-top: 6em;
    margin-left: 10em;
}
#right{
    color:#fff0C9;
    display: flex;
    align-items:start;
    justify-content:center;
    text-align: end; 
    margin-top: 6em;
}



footer {
    background-color: #11111f;
    color: #fff;
    padding: 5em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
#subs{
    background-color: #11111f;
    color: #f57eb6;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Lucida Sans';
}  