/* Header */
header {
    background-color: #11111f;
    color: #fff;
    padding: 1em;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
*{
    border: red 0.5px solid;
}
#Cabeza{
    background-color: #fff0C9;
    
}
#main {
    width: 100%;
    height: 2000px; /* Altura deseada para el <main> */
    background-color: #fff0C9;
    display: flex;
    align-items: flex-start;
    overflow-x: hidden;
}
#inicio{
    margin-top: 20px;
}
#Carrito{
    margin-top: 11px;
}
#Persona{
    margin-top: 11px;
    margin-left: 65px;
}
#vermas{
    background-color: #11111f;
    color: #f57eb6;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
#vermas2{
    background-color: #11111f;
    color: #f57eb6;
    text-align: center;
    font-size: 1em;

}
/* Searcher rosado y un rectangulo con esquinas curvas y barra buscadora  */
#searcher{
    background-color: #f57eb6;
    border-radius: 100px;
    width: 500px;
    height: 32px;
    display: initial;
    align-items: center;
    justify-content: center;
    outline-color: #f57eb6;
    font-family: "",sans-serif;
    margin-top: 20px;
}
#searcherLupa{
    margin-left: 1%;
}
#searcher:focus {
    outline-color: #f57eb6; /* Cambia el color a rosado */
 }
/* Un rectangulo con lineas curvas que va dentro del main */

#square {
    background-color: #471F41;
    border-radius: 10px;
    width: 70em;
    height: 30em;
    display: flex;
    align-items:start;
    justify-content: start;
    margin-top: 5em;
    margin-left: 6em;
    text-align: center; 
}
#botones{
    background-color: #11111f;
    border-radius: 10px;
    width: 32em;
    height: 4em;
    margin-top: -12em;
    margin-left: 6em;
    color: #fff0C9;

}
#lupita{
    margin-top: 66px;
    margin-left: 361px;
    margin-right: 14px;
}
#title {
    color: #fff0C9;
    font-size: 3em;
    font-weight: bold;
} 
#subtitle {
    color: #fff0C9;
    font-size: 4em;
    margin-top: 0;
    line-height: 1em; 
    text-align: left;
    font-weight: bold;
}

*/
#oso{
    background-color: #471F41;
    border-radius: 10px;
    width: 70em;
    height: 30em;
    display: flex;
    align-items:start;
    justify-content: start;
    margin-top: 5em;
    margin-left: 6em;
    text-align: center;
}
#gus{
    background-color: #471F41;
    border-radius: 10px;
    width: 70em;
    height: 30em;
    display: flex;
    align-items:start;
    justify-content: start;
    margin-top: 5em;
    margin-left: 6em;
    text-align: center;
} 


/* productos */
#rect{
background-color: #471F41;
    width: 100%;
    height: 30em;
    display: flex;
    align-items:start;
    justify-content: start;
    margin-top: 5em;
    text-align: center; 
}	

#foto{
    border: #11111f 5px solid;
    align-items: center;
    justify-content: center;
    margin-top: 6em;
    margin-left: 10em;
}
#right{
    color:#fff0C9;
    display: flex;
    align-items:start;
    justify-content:center;
    text-align: end; 
    margin-top: 6em;
}
#rect1{
    background-color: #471F41;
    width: 100%;
    height: 25em;
    display: flex;
    align-items:start;
    justify-content: start;
    text-align: center; 


}
#foto1{
    border: #11111f 5px solid;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-top: 50px;

}
/*#rect2{
    background-color: #f57eb6;
    width: 100%;
    height: 30em;
    display: flex;
    align-items:start;
    justify-content: start;
    text-align: center; 
}
#foto2{
    border: #11111f 5px solid;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    margin-left: 10em;
}
*/
#left{
    color:#fff0C9;
    display: flex;
    align-items:end;
    justify-content:center;
    text-align: start; 
    margin-top: 6em;
}


footer {
    background-color: #11111f;
    color: #fff;
    padding: 5em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
#subs{
    background-color: #11111f;
    color: #f57eb6;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Lucida Sans';
}  